
.adventure-image-banner{
  /*background-image: url("./assets/images/adventure-photos/night-sky.jpg");
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;*/
  /*position: relative;
   width: 100%;
   margin:auto;*/
}
.margin-auto{
  margin:auto;
}

#top-nav-journal{
  height: auto;
  width: 100%;
  display: flex;
  padding: 10px;
  font-family: "Novecento-Normal.ttf";
  color: #248A83;
}
#top-nav-journal a:link a:visited a:active{
  text-decoration: none;
  color: #248A83;
}
a:link, a:visited {
    text-decoration: none;
    color: #248A83;
}
.nav-wrap{
  border-bottom: solid 1px #c3c3c3;
}
article{
  width:90%;
  margin: auto;
  padding: 20px;
}
article h2{
  color:black;
  font-size: 2em;
  padding: 0;
}
aside{
  width: 20%;
  padding: 40px 0 40px 40px;
  border-left: solid 1px #c3c3c3;
}
aside h4{
  color: black;
}
