#about-page{
  width: 80%;
  padding: 30px 0 60px 0;
  margin: auto;
}
#about-page h5{
  color: black;
  text-align: center;
  padding: 30px;
}
.background-image-about{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../../assets/images/about-hero.jpg");
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
  position: relative;
}


.background-image-about h1{
  position: absolute;
   top: 150px;
   left: 0;
   width: 100%;
  font-family: "Novecento-DemiBold.ttf";
  color: white;

}
