<!-- HOME PAGE VIEW includes hardcoded shopping section, journal entries -->
<header>
  <div class="background-image-banner">
    <nav id="top-nav">
      <div class="flex flex-grow flex-just-between ">
        <img src="../assets/images/logos/inhabitent-logo-tent-white.svg" alt="tent logo" class="image-logo flex" height="20px" [routerLink]="['/home']" routerLinkActive="active">
        <ul class="flex flex-just-around">
            <li><a class="" routerLink="/about" routerLinkActive="active"> about </a></li>
            <li><a class="" href="#shop"> shop </a></li>
            <li><a class="" href="#"> featured </a></li>
            <li><a class="" href="#"> updates </a></li>
            <li><a class="" href=""> <span class="fa fa-search" aria-hidden="true"></span></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<content id="home-page">
  <section id="shop" class="flex flex-col flex-align-items-center padding20">
    <h1>SHOP STUFF</h1>
    <div class="flex flex-row">
      <div class="shop-category margin-left-item">
        <img src="../assets/images/product-type-icons/do.svg" alt="do icon" width="80px" class="padding10">
        <p>Get back to nature with all the tools and toys you need to enjoy the great outdoors.</p>
        <button id="button-shop" type="button">DO STUFF</button>
      </div>
      <div class="shop-category margin-center-item">
        <img src="../assets/images/product-type-icons/eat.svg" alt="eat icon" width="80px" class="padding10">
        <p>Nothing beats food cooked over a fire. We have all you need for good camping eats.</p>
        <button id="button-shop" type="button">EAT STUFF</button>
      </div>
      <div class="shop-category margin-center-item">
        <img src="../assets/images/product-type-icons/sleep.svg" alt="sleep icon" width="80px" class="padding10">
        <p>Get a good night's rest in the wild in a home away from home that travels well.</p>
        <button id="button-shop" type="button">SLEEP STUFF</button>
      </div>
      <div class="shop-category margin-right-item">
        <img src="../assets/images/product-type-icons/wear.svg" alt="sleep icon" width="80px" class="padding10">
        <p>From flannel shirts to toques, look the part while roughing it in the great outdoors.</p>
        <button id="button-shop" type="button">WEAR STUFF</button>
      </div>
    </div>
  </section>


  <section id="journal" class="flex flex-col flex-align-items-center padding20">
    <h1>INHABITENT JOURNAL</h1>
    <div class="flex flex-row">
      <div class="journal-category flex flex-col padding-left-item">
        <div id="journal-entry1"></div>
        <div class="journal-border">
          <div>
            <p>14 April 2016 / 3 Comments</p>
            <h2>VAN CAMPING PHOTO CONTEST</h2>
          </div>
          <button id="button-journal" type="button">READ ENTRY</button>
        </div>
      </div>
      <div class="journal-category flex flex-col padding-center-item">
        <div id="journal-entry2"></div>
        <div class="journal-border">
          <div>
            <p>2 April 2016 / 0 Comments</p>
            <h2>FIRESIDE LIBATIONS: 3 WARM COCKTAIL RECIPES</h2>
          </div>
          <button id="button-journal" type="button">READ ENTRY</button>
        </div>
      </div>
      <div class="journal-category flex flex-col padding-right-item">
        <div id="journal-entry3"></div>
        <div class="journal-border">
          <div>
            <p>31 MARCH 2016 / 0 Comments</p>
            <h2>HOW TO EAT HEALTHY MEALS IN THE WILD</h2>
          </div>
          <button id="button-journal" type="button">READ ENTRY</button>
        </div>
      </div>
    </div>
  </section>

<show-latest-journals></show-latest-journals>

</content>
