<section id="adventures"  class="flex flex-col flex-align-items-center padding20">
  <h1>LATEST ADVENTURES</h1>
  <div id="RENDERHERE"></div>
  <div id="adventure-wrap" class="flex">
    <div id="left-adventure"  *ngIf="journalEntries" class="flex flex-grow flex-col">
      <h3 *ngIf="journalEntries"> {{journalEntries.allJournals[0].title}}</h3>
      <button id="button-readmore" [routerLink]="['/single-adventure',journalEntries.allJournals[0].id]" routerLinkActive="active" type="button">READ MORE</button>
    </div>
    <div class="flex flex-col width50 flex-grow">
      <div id="right-top-adventure" *ngIf="journalEntries" class="flex flex-grow flex-col">
        <h3 *ngIf="journalEntries"> {{journalEntries.allJournals[1].title}}</h3>
        <button id="button-readmore" [routerLink]="['/single-adventure',journalEntries.allJournals[1].id]" routerLinkActive="active" type="button">READ MORE</button>
      </div>
      <div class="flex flex-row">
        <div id="right-bottom-left-adventure" *ngIf="journalEntries" class="flex flex-col flex-grow">
          <h3 *ngIf="journalEntries"> {{journalEntries.allJournals[2].title}}</h3>
          <button id="button-readmore" [routerLink]="['/single-adventure',journalEntries.allJournals[2].id]" routerLinkActive="active" type="button">READ MORE</button>
        </div>
        <div id="right-bottom-right-adventure" *ngIf="journalEntries" class="flex flex-col flex-grow">
          <h3 *ngIf="journalEntries"> {{journalEntries.allJournals[3].title}}</h3>
          <button id="button-readmore" [routerLink]="['/single-adventure',journalEntries.allJournals[3].id]" routerLinkActive="active" type="button">READ MORE</button>
        </div>
      </div>
    </div>
  </div>
  <button id="button-more-adventures" [routerLink]="['/journal-posts']" routerLinkActive="active"  class="flex-align-start" type="button">MORE ADVENTURES</button>
</section>
