#button-more-adventures{
  background-color: #008080;
  padding: 10px 24px;
  margin: 10px 0 10px 0;
  border: none;
  color: white;
}

#adventure-wrap{
  width: 100%;
  padding-bottom: 20px;
}
#button-readmore{
  background: none;
  padding: 10px 24px;
  border: 1px solid #ffffff;
  color: white;
  display: flex;
  align-self: flex-start;
  margin: 10px;
}
#left-adventure{
  background-image: url("../assets/images/adventure-photos/canoe-girl.jpg");
  height: auto;
  width: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}
#right-top-adventure{
  background-image: url("../assets/images/adventure-photos/beach-bonfire.jpg");
  height: 25vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  margin: 0 0 0 5px;
}
#right-bottom-left-adventure{
  background-image: url("../assets/images/adventure-photos/mountain-hikers.jpg");
  height: 25vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  margin: 10px 10px 0 5px;
}
#right-bottom-right-adventure{
  background-image: url("../assets/images/adventure-photos/night-sky.jpg");
  height: 25vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  margin: 10px 0 0 0;
}
