<!--  SINGLE ADVENTURE VIEW -->
<header>
    <div id="adventure-image" class="adventure-image-banner">
      <nav id="top-nav">
        <div class="flex flex-grow flex-just-between ">
          <img src="../assets/images/logos/inhabitent-logo-tent-white.svg" alt="tent logo" class="image-logo flex" height="20px">
          <ul class="flex flex-just-around">
              <li><a class="" routerLink="/about" routerLinkActive="active"> about </a></li>
              <li><a class="" href="#shop"> shop </a></li>
              <li><a class="" href="#"> featured </a></li>
              <li><a class="" href="#"> updates </a></li>
              <li><a class="" href=""> <span class="fa fa-search" aria-hidden="true"></span></a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <content>
    <article>
      <img src="{{currentAdventure.image}}">
      <h2>{{currentAdventure.title}}</h2>
      <h5>{{currentAdventure.author}}</h5>
      <p>{{currentAdventure.date}}</p>
      <p>{{currentAdventure.content}}</p>
      <p>{{currentAdventure.image}} </p>
    </article>
    <submit-journal-entry></submit-journal-entry>

  </content>
