<!-- JOURNAL POSTS VIEW -->
<header>
  <div class="nav-wrap">
    <nav id="top-nav-journal">
      <div class="flex flex-grow flex-just-between ">
        <img src="../../assets/images/logos/inhabitent-logo-tent-white.svg" alt="tent logo" class="image-logo flex" height="20px" [routerLink]="['/home']" routerLinkActive="active">
        <ul class="flex flex-just-around">
            <li><a class="blue-links" routerLink="/about" routerLinkActive="active"> about </a></li>
            <li><a class="blue-links" href="shop"> shop </a></li>
            <li><a class="blue-links" href="#"> featured </a></li>
            <li><a class="blue-links" href="#"> updates </a></li>
            <li><a class="blue-links" href=""> <span class="fa fa-search" aria-hidden="true"></span></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<content id="journal-posts-page" class="flex">
  <section id="journal-posts" class="flex flex-col flex-grow">
    <div id="journal-wrap">
      <div id="journal-banner-1" class="flex flex-col">
        <h1 class="flex">Van Camping Photo Contest</h1>
        <h2 class="flex flex-align-end">April 14, 2016 / comments / author</h2>
      </div>
      <p>Ethical tumblr gentrify listicle roof party. Normcore jean shorts single-origin coffee aesthetic, selvage williamsburg chartreuse austin banjo tumblr trust fund. Vinyl freegan trust fund, blue bottle chicharrones VHS fanny pack pop-up tumblr put a bird on it blog whatever. Authentic next level shabby chic squid. Brooklyn chicharrones fanny pack waistcoat deep v. Distillery cronut man bun, readymade gluten-free fap listicle bespoke meh cray yuccie vinyl sartorial kogi. Pickled retro organic kale chips. [...]</p>
      <button id="button-journal" type="button">READ ENTRY</button>
    </div>
    <div id="journal-wrap">
      <div id="journal-banner-2" class="flex flex-col">
        <h1 class="flex">Fireside Libations: 3 Warm Cocktail Recipes</h1>
        <h2 class="flex flex-align-end">April 02, 2016 / comments / author</h2>
      </div>
      <p>Try-hard listicle truffaut locavore, pabst humblebrag bespoke flexitarian squid street art chia chicharrones. Gastropub portland cornhole poutine 90’s drinking vinegar, semiotics raw denim. Helvetica cornhole health goth pickled, portland banjo knausgaard drinking vinegar DIY YOLO [...]</p>
      <button id="button-journal" type="button">READ ENTRY</button>
    </div>
    <div id="journal-wrap">
      <div id="journal-banner-3" class="flex flex-col">
        <h1 class="flex">How To: Eating Healthy Meals in the Wild</h1>
        <h2 class="flex flex-align-end">March 31, 2016 / comments / author</h2>
      </div>
      <p>Paleo semiotics gastropub messenger bag, kogi beard tattooed truffaut cred artisan. Skateboard cliche selfies fashion axe, viral ugh vinyl plaid before they sold out squid jean shorts tofu letterpress. Kombucha gluten-free banh mi authentic paleo, kale chips typewriter kogi normcore mustache cliche before they sold out intelligentsia poutine 90’s. [...]</p>
      <button id="button-journal" type="button">READ ENTRY</button>
    </div>
    <div id="journal-wrap">
      <div id="journal-banner-4" class="flex flex-col">
        <h1 class="flex">5 Tips for Solo Camping</h1>
        <h2 class="flex flex-align-end">March 19, 2016 / comments / author</h2>
      </div>
      <p>Wayfarers VHS chambray schlitz, ramps semiotics post-ironic franzen fixie wolf polaroid viral. Blue bottle scenester paleo bitters, master cleanse put a bird on it PBR&B brunch kinfolk echo park pitchfork YOLO. Forage biodiesel polaroid beard, scenester normcore actually swag food truck meggings. Readymade cornhole pabst gastropub. Roof party put a bird on it quinoa, bicycle rights kickstarter venmo master cleanse. Sustainable keffiyeh leggings, farm-to-table cliche banh mi drinking vinegar. Crucifix tote bag pork belly, before they sold out artisan YOLO lis [...]</p>
      <button id="button-journal" type="button">READ ENTRY</button>
    </div>
    <div id="journal-wrap">
      <div id="journal-banner-5" class="flex flex-col">
        <h1 class="flex">Glamping Made Easy</h1>
        <h2 class="flex flex-align-end">March 10, 2016 / comments / author</h2>
      </div>
      <p>Fashion axe schlitz selvage, art party fixie ugh skateboard fap keffiyeh intelligentsia gastropub tattooed humblebrag brunch shabby chic. Tilde selvage ennui, ethical sartorial keytar gastropub mlkshk. Migas seitan lumbersexual, paleo kogi sriracha photo booth hoodie franzen. XOXO fap master cleanse everyday carry, four loko helvetica marfa. Tousled health goth normcore, raw denim banh mi bespoke quinoa. Readymade keytar iPhone fashion axe, raw denim put a bird on it 3 wolf moon plaid [...]</p>
      <button id="button-journal" type="button">READ ENTRY</button>
    </div>
  </section>
  <aside class="flex flex-col">
    <div>
      <h4>CONTACT INFO</h4>
      <p class="body-font"><span class="fa fa-envelope" aria-hidden="true"></span>info@inhabitent.com</p>
      <p class="body-font"><span class="fa fa-phone" aria-hidden="true"></span> 778-456-7891</p>
      <p class=""><span class="fa fa-facebook-official" aria-hidden="true"></span> <span class="fa fa-twitter-square" aria-hidden="true"></span> <span class="fa fa-google-plus-square" aria-hidden="true"></span>
    </div>
    <div>
      <h4>BUSINESS HOURS</h4>
      <p class="body-font "><span class="text-footer-bold">monday-friday</span> 9am to 5pm</p>
      <p class="body-font "><span class="text-footer-bold">saturday</span> 10am to 2pm</p>
      <p class="body-font "><span class="text-footer-bold">sunday</span> Closed</p>
    </div>
    <div>
      <h4>ARCHIVES</h4>
    </div>
  </aside>
</content>
