
      <div class="flex flex-grow flex-just-between ">
        <img src="../assets/images/logos/inhabitent-logo-tent-white.svg" alt="tent logo" class="image-logo flex" height="20px">
        <ul class="flex flex-just-around">
          <li><a class="" routerLink="/about" routerLinkActive="active"> about </a></li>
            <li><a class="" href="#shop"> shop </a></li>
            <li><a class="" href="#"> featured </a></li>
            <li><a class="" href="#"> updates </a></li>
            <li><a class="" href=""> <span class="fa fa-search" aria-hidden="true"></span></a></li>
        </ul>
      </div>
    
