* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* FONTS */

@font-face {
    font-family: "Merriweather-Bold.ttf";
    src: url("./assets/fonts/Merriweather/Merriweather-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Merriweather-BoldItalic.ttf";
    src: url("./assets/fonts/Merriweather/Merriweather-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
  font-family: "Merriweather-Light.ttf";
  src: url("./assets/fonts/Merriweather/Merriweather-Light.ttf") format("truetype");
  font-weight: lighter;
}
@font-face {
  font-family: "Merriweather-LightItalic.ttf";
  src: url("./assets/fonts/Merriweather/Merriweather-LightItalic.ttf") format("truetype");
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: "Novecento-DemiBold.ttf";
  src: url("./assets/fonts/Novecento/Novecentosanswide-DemiBold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Novecento-Normal.ttf";
  src: url("./assets/fonts/Novecento/Novecentosanswide-Normal.ttf") format("truetype");
  font-weight: bold;
}
.body-font{
  font-family:"Merriweather-Light.ttf";
  font-size: 16px;
}
.text-white{
  color:white;
}
h1{
  font-family: "Novecento-Normal.ttf";
  font-size: 2em;
  padding: 20px;
}
h2{
  font-family: "Novecento-DemiBold.ttf";
  font-size: 1.4em;
  line-height: 0.8em;
  padding: 10px 35px;
  color: #008080;
  text-align: left;
}
h3{
  font-family: "Merriweather-Light.ttf";
  font-size: 2.2em;
  color: white;
  padding: 10px;
}
h4{
  font-family: "Novecento-DemiBold.ttf";
  font-size: 1em;
  color: #d99054;
}
h5{
  font-family: "Novecento-DemiBold.ttf";
  font-size: 1.2em;
}
p{
  font-family:"Merriweather-Light.ttf";
  padding: 10px 0 10px 0;
}

/* flex */
.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.flex-row{
  flex-direction: row;
}
.flex-just-center{
  justify-content: center;
}
.flex-just-between{
  justify-content: space-between;
}
.flex-just-around{
  justify-content: space-around;
}
.flex-just-end{
  justify-content: flex-end;
}
.flex-align-center{
  align-content: center;
}
.flex-align-items-center{
  align-items: center;
}
.flex-align-end{
  align-items: flex-end;
}
.flex-align-start{
  align-self: flex-start;
}
.flex-align-end{
  align-self: flex-end;
}
.flex-grow{
  flex-grow:1;
}
.padding10{
  padding: 10px;
}
.padding20{
  padding:20px;
}
.padding-center-item{
  padding: 0 5px 0 5px;
}
.padding-left-item{
  padding: 0 10px 0 0;
}
.padding-right-item{
  padding: 0 0 0 10px;
}
.margin-center-item{
  margin: 0 5px 0 5px;
}
.margin-left-item{
  margin: 0 10px 0 0;
}
.margin-right-item{
  margin: 0 0 0 10px;
}

#top-nav{
  height: auto;
  width: 100%;
  display: flex;
  padding: 10px;
  font-family: "Novecento-Normal.ttf";

}

.nav-wrap{
  border-bottom: solid 1px #c3c3c3;
}

ul {
    list-style-type: none;
    overflow: hidden;
    width: 40%;
}
a:link, a:visited {
    text-decoration: none;
    color: #ffffff;
}

header{
  z-index: 100000000;
}

content{
  width:85%;
  margin:auto;
}

.background-image-banner{
  background-image: url("./assets/images/logos/inhabitent-logo-full.svg"),url("./assets/images/home-hero.jpg" );
  height: 50vh;
  background-position: center center;
  background-size: 30vh, cover;
  background-repeat: no-repeat;
  /*text-align: center;*/
  justify-content: center;
}
.image-logo{
  margin-left: 20px;
}
.shop-category{
  border-style: solid;
  border-width: 3px 1px 1px 1px;
  border-color: #c3c3c3;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#button-shop{
  background-color: #008080;
  padding: 10px 24px;
  margin-bottom: 10px;
  border: none;
  color: white;
}

.width50{
  width: 50%;
}
